.cardUsuario {
    width: 280px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.cardUsuario .cabecalho {
    background-color: #6A2C70;
    width: 100%;
    height: 100px;
    border-radius: 10px 10px 0 0;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    position: relative;
}

.cardUsuario img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    bottom: -50px;
    z-index: 10;
}

.cardUsuario .rodape {
    width: 100%;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    
    box-sizing: border-box; 
    
    padding-top: 60px;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: center;
}

.cardUsuario .rodape h4 {
    color: #6A2C70;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.cardUsuario .rodape p {
    color: black;
    font-size: 15px;
    text-align: center;
}