:root, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.rodape {
    background: #47104C;
    color: #FFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box; 
    margin-top: auto; 
}

.rodape ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rodape ul li {
    display: inline-block;
    margin-right: 20px;
    width: 25px;
    height: 25px;
}

.rodape ul li img {
    width: 100%;
    height: auto;
}

.rodape section p {
    text-align: center;
    margin: 0;
    font-size: 14px;
}

.rodape section img {
    width: 35px;
    height: auto;
}