.rodape {
    background: #47104A;
    color: #FFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.rodape ul li {
    display: inline-block;
    margin-right: 20px;
    width: 25px;
    height: 25px;
}

.rodape ul li img {
    width: 100%;
    height: auto;
}

.rodape section p {
    margin: 0;
    font-size: 14px;
}

.rodape section img {
    width: 29px;
    height: auto;
}