.botao-padrao {
    background-color: #4c054f;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 32px 0;
}

.botao-padrao:hover {
    background-color: #380b38;
}

.botao-excluir {
    background-color: #a60202;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 32px 0;
}

.botao-excluir:hover {
    background-color: #4f0505;
}

.botao-whatsapp {
    background-color: #10a602;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 32px 0;
}

.botao-whatsapp:hover {
    background-color: #096900;
}