.cardProduto {
    width: 280px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.cardProduto .cabecalho {
    background-color: #6A2C70;
    width: 100%;
    height: 120px; 
    border-radius: 10px 10px 0 0;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
}

.cardProduto img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    bottom: -60px; 
    z-index: 10;
    border: 4px solid rgb(255, 255, 255); 
}

.cardProduto .rodape {
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
    box-sizing: border-box; 
    padding: 60px 20px 20px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.cardProduto .rodape h4 {
    color: #6A2C70;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardProduto .rodape p {
    color: black;
    font-size: 15px;
    text-align: center;
    
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}