.detalhe-produto{
    padding: 40px;
    text-align: center;
    width: auto;
}

.detalhe-produto h1{
    color: #47104A;
}

.detalhe-produto img{
    display: block;
    margin: 20px auto;
    width: 300px;
    height: auto;
}