.detalhe-usuario{
    padding: 40px;
    text-align: center;
    width: auto;
}

.detalhe-usuario h1{
    color: #6278F7;
}

.detalhe-usuario img{
    margin: 20px 0;
    width: 300px;
    height: auto;
}